asgiref
attrs
backports.zoneinfo
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
Django
django-cors-headers
django-filter
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
drf-jwt
drf-spectacular
drf-yasg
idna
importlib-resources
inflection
itypes
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
openapi-codec
packaging
pkgutil-resolve-name
psycopg2
pycparser
PyJWT
pytz
PyYAML
referencing
requests
rest-framework-generic-relations
rpds-py
simplejson
sqlparse
typing-extensions
tzdata
uritemplate
urllib3
zipp
